body {
  background: black;
  color: white;
}

.hero-image {
  background-image: url("../public/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vw;
  position: relative;
}

.card {
  width: 162px;
  min-width: 162px;
  color: black;
  margin-right: 10px;
}

.card-text {
  font-size: 12px;
}

.card-img-top {
  height: 162px;
}
